@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap");
.container {
  max-width: 1280px;
  padding: 0px 10px;
  margin: 0px auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.title {
  font-family: Reey, serif;
  font-size: 60px;
  text-align: center;
}

.btn {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 12px 60px;
  border-radius: 15px;
}

.header {
  background-image: url(../img/header__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* burger button*/
.menu__icon {
  display: none;
}

body._lock {
  overflow: hidden;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

a.menu__link {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}

.menu__sub-list li:last-child {
  margin: 0;
}

a.menu__sub-link {
  color: #fff;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

/* ----------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* ----------------------- */
@media (min-width: 1200px) {
  .menu__body {
    padding: 20px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header__logo {
    margin: 20px 0px 0px 0px;
  }
}
@media (min-width: 767px) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .header__logo {
    display: inline-block;
    margin: 0px 0px 15px 0px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 20px;
  }

  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__icon::before,
.menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: absolute;
    z-index: 50px;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 80px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-image: url(../img/header__bg.png);
    z-index: 2;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  a.menu__link {
    font-size: 24px;
    font-weight: 500;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }

  a.menu__sub-link {
    font-size: 20px;
    color: #000;
  }
}
.menu__sub-link {
  font-size: 18px;
}

@media (min-width: 767px) {
  .menu__sub-list li {
    text-align: center;
  }
}
/* header inner*/
@media (min-width: 1200px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 750px;
  }
}
@media (max-width: 767px) {
  .header__inner {
    padding: 70px 0px 0px 0px;
  }
}
.header__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  color: #fff;
}
@media (max-width: 1200.98px) {
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__title {
  font-size: 60pt;
  font-weight: 800;
  font-style: italic;
  font-family: Reey, serif;
}
@media (min-width: 1200px) {
  .header__title {
    margin-top: 100px;
  }
}
@media (max-width: 1200px) {
  .header__title {
    padding: 50px 0px 0px 0px;
    font-size: 60px;
  }
}
.header__sub-title {
  font-style: italic;
  font-size: 40px;
  margin: 90px 0px 0px 0px;
  letter-spacing: 1.2px;
}
.header__btn {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 12px 60px;
  background-color: #ebebec;
  border-radius: 15px;
  margin: 90px 0px 0px 0px;
}
.header__text {
  font-size: 20px;
  max-width: 500px;
  line-height: 1.2;
  margin: 25px 0px 0px 0px;
}
@media (max-width: 1200px) {
  .header__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__images img {
  width: 100%;
}
@media (max-width: 1200px) {
  .header__images img {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  .inner__container {
    padding: 0px 0px 0px 100px;
  }
}
.meals__title {
  margin: 50px 0px 0px 0px;
}
.meals .meals__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 40px 0px 0px 0px;
}
.meals .meals__text p {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  max-width: 50%;
  font-size: 18px;
}
.meals__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .meals__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.col__meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 40px 0px 0px 0px;
}
@media (max-width: 767px) {
  .col__meals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.col__meals img {
  max-width: 90%;
}
.col__meals__title {
  font-weight: 900;
  color: #343434;
}
.col__meals__text {
  margin: 8px 0px 0px 0px;
  max-width: 300px;
  font-size: 16px;
  line-height: 1.3;
}

.meals__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px 0px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.meals__btn a {
  background-color: #343434;
  color: #fff;
}

.about {
  background-color: #27292c;
  margin-top: 20px;
  padding: 20px 0px;
}
.about__container {
  color: #fff;
  padding: 20px 0px;
}
.about__text {
  margin: 70px 0px 0px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 767px) {
  .about__text p {
    max-width: 50%;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .about__text p {
    padding: 0px 0px 0px 20px;
  }
  .about__text p:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
.about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.about__btn a {
  color: #27292c;
  background: #e9e9e9;
}

.discount__col-2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.discount-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.discount-col__image {
  margin: 20px 0px 0px 0px;
}
@media (min-width: 1200px) {
  .discount-col__image {
    max-width: 50%;
  }
}
.discount-col__image img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .discount-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 767px) {
  .discount-col__info {
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
    margin-left: 1%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .discount-col__info {
    padding: 0px 20px;
  }
}
.discount-col__title {
  color: #27292c;
  font-weight: 800;
  font-size: 40px;
  max-width: 95%;
  letter-spacing: 1.7px;
  margin: 20px 0px 50px 0px;
}
.discount-col__text {
  color: #27292c;
  font-size: 18px;
  margin: 10px 0px 0px 0px;
}
@media (min-width: 767px) {
  .discount-col__text {
    max-width: 60%;
  }
}
.discount-col a.discount-col__btn {
  display: inline-block;
  margin: 30px 0px 20px 0px;
  background-color: #27292c;
  color: #fff;
}

.promo {
  margin: 20px 0px 20px 0px;
  background-image: url(../img/header__bg.png);
  max-height: 1020px;
}
@media (min-width: 767px) {
  .promo {
    position: relative;
    margin: 0px 0px 160px 0px;
  }
}
@media (min-width: 1200px) {
  .promo__leaves {
    width: 100%;
    position: absolute;
    height: 500px;
    top: 0;
    left: 0;
  }
}
.promo__leaves img {
  -webkit-transform: translate(0px, -10%);
          transform: translate(0px, -10%);
}
@media (min-width: 1200px) {
  .promo__leaves img {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .promo__leaves img {
    display: none;
  }
}
.promo__title {
  color: #fff;
  font-size: 375%;
  padding: 80px 0px 0px 0px;
}
@media (max-width: 767px) {
  .promo__title {
    word-spacing: 3px;
  }
}
.promo__text {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0px 0px 0px;
}
@media (min-width: 1200px) {
  .promo__text {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .promo__text:after {
    content: "";
    width: 150px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 150%;
  }
}
.promo__text p {
  text-align: center;
  max-width: 60%;
  font-size: 18px;
}
.promo__pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px 0px 0px;
}
@media (max-width: 767px) {
  .promo__pizza {
    width: 100%;
    height: 300px;
  }
  .promo__pizza img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .promo__pizza {
    width: 100%;
    height: 500px;
  }
}

.quotes__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0px 50px 0px;
}
@media (max-width: 767px) {
  .quotes__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.quotes__col {
  margin: 30px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}
@media (max-width: 767px) {
  .quotes__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.quotes__title {
  color: #393939;
  font-size: 250%;
  font-family: Reey, serif;
  margin: 0px 0px 25px 0px;
}
@media (min-width: 767px) {
  .quotes__title {
    margin: 0px 0px 15px 30px;
  }
}
.quotes__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.quotes__text p {
  color: #333d42;
  max-width: 75%;
  font-size: 112%;
}
@media (max-width: 767px) {
  .quotes__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.big-quotes {
  margin: 100px 0px 0px 0px;
}
.big-quotes__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.big-quotes__text p {
  color: #3f3f3f;
  font-size: 25px;
  text-align: center;
  max-width: 60%;
}
.big-quotes__subtitle {
  color: #3f3f3f;
  text-align: center;
  font-weight: 500;
  margin: 20px 0px 0px 0px;
}

.feedback {
  margin: 30px 0px 0px 0px;
  background-color: #27292c;
  padding: 150px 0px;
  position: relative;
}
.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.feedback__title {
  font-size: 250%;
}
.feedback__text {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}
.feedback__text p {
  margin: 10px 0px 0px 0px;
  max-width: 75%;
  text-align: center;
}
.feedback__text p:not(:last-child){
  margin: 0px;
}
.feedback__form {
  margin: 80px 0px 0px 0px;
  position: relative;
  display: inline-block;
}
.feedback input.feedback__input {
  border-radius: 18px;
  padding: 10px 20px;
}
.feedback input.feedback__input::-webkit-input-placeholder {
  color: #54524f;
}
.feedback input.feedback__input::-moz-placeholder {
  color: #54524f;
}
.feedback input.feedback__input:-ms-input-placeholder {
  color: #54524f;
}
.feedback input.feedback__input::-ms-input-placeholder {
  color: #54524f;
}
.feedback input.feedback__input::placeholder {
  color: #54524f;
}
@media (min-width: 767px) {
  .feedback input.feedback__input {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .feedback input.feedback__input {
    width: 100%;
  }
}
.feedback__btn {
  background-color: #54524f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 18px;
  position: absolute;
  right: 0px;
  font-weight: 700;
}

.footer {
  padding: 30px 0px;
}
.footer__container {
}
.footer__columns {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px){
  .footer__columns {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 767px){
  .footer__col { 
    flex: 0 0 20%;
  }
}
.footer__col {
  display: flex;
  flex-direction: column;
}
.footer__title {
  margin: 10px 0px 20px 0px;
  font-size: 22px;
}
.footer__text {
  line-height: 1.2;
  font-size: 18px;
}
.footer__link {
  margin: 5px 0px 0px 0px;
  font-size: 18px;
}